@inject IClientService ClientService
@page "/clientlist"


@if (ClientService.ClientsList == null || ClientService.ClientsList.Count ==0)
{
    <div class="d-flex align-items-center">
        <strong>Loading...</strong>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
    </div>
}
else
{
    <h2 class="h2 text-center">Client List</h2>
    <form>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary p-1">Search</button>
            </div>
            
            
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Client Name</th>
                <th scope="col">Contact Person</th>
                <th scope="col">Phone</th>
                <th scope="col">Mobile</th>
                <th scope="col">City</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in ClientService.ClientsList)
            {
                <tr>
                    <td><a class="text-decoration-none" href="/client/@c.Id">@c.ClientName</a></td>
                    <td>@c.ContactPerson</td>
                    <td>@c.Phone</td>
                    <td>@c.Mobile</td>
                    <td>@c.City.CityName</td>
                    <td><a class="btn btn-primary btn-sm">Edit Client</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await ClientService.GetClients();
    }

}
